
<div class="row row-cols-md-5">
  <div>
      <img class="img-thumbnail float-start" src="{{articulo.imagen}}">
      {{articulo.nombre}}
  </div>
  <div>{{articulo.precio}}€</div>
  <div>
  <button (click)="decrementUnits(articulo.id)">-</button>
  <input type="number" value={{articulo.unidades}}>
  <button (click)="incrementUnits(articulo.id)">+</button>
  </div>
  <div>{{precioTotalArticulo(articulo.id)|currency}}</div>
  <div>
    <button class="btn btn-danger" (click)="removeFromCart(articulo.id)">Eliminar</button>
  </div>
</div>

